/* Carrusel de imágenes */
.carrusel {
  position: relative;
  background: #ffcc89;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.image-box {
  width: 80%;
  height: 650px;
  position: relative;
  overflow: hidden;
  border: 2px solid #666;
  background: white;
}

.carrusel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.carrusel-item.active {
  display: block;
}

.carrusel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Gabarito", sans-serif;
  max-width: 80%;
  z-index: 5;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .image-box{
    height: 200px;
  }

  .caption {
    display: none;
  }
}

/* Flechas de navegación */
.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  z-index: 2;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: white;
  border: 2px solid #333333;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #00bfff;
}

/*Pasos adopcion*/
#extra{
  padding: 25px 0px 25px 55px ;
  margin: auto 0;
  font-size: 1.2em;
}

.capitular {
  font-size: 2.5em; 
  font-weight: bold; 
  float: left;
  line-height: 0.9; 
  margin: 0 20px; 
  color: #942831;
}

#extra h4{
  text-align: center;
}

.imgPasos{
  height: 200px;
  display: block;
  margin: 0 auto;
}

/*Datos*/
#datos{
  padding: 15px 5%;
  margin: 0 auto;
  font-size: 1.2em;
}

.contenedor{
  background-color: #ffff;
}

/*donadores*/
.donador {
  height: auto;
}

.donador img {
  width: 80px; 
  height: 80px;
  object-fit: cover;
  border-radius: 50%; 
  padding: 5px;
  display: block;
}

/*noticias*/
#noticias {
  height: auto;
  margin: 0 auto;
  padding: 25px 5% 0px 5%;
  background-color: #AEC3B0;
}

.tarjeta {
  background-color: #fff;
}

